/* Taurus IOHandlers */
TTaurusTLSServerIOHandler              BITMAP "TTaurusTLSServerIOHandler.bmp"
TTaurusTLSIOHandlerSocket              BITMAP "TTaurusTLSIOHandlerSocket.bmp"

SPLASH                                 BITMAP "splash.bmp"